@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #d8d6e7;
	--foreground: #222;
	--bg-secondary: #afd0de;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #222e42;
		--foreground: #ededed;
		--bg-secondary: #1f485d;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
