.custom-scrollbar {
  &::-webkit-scrollbar {
    height: 5px;
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: var(--text-primary);
    border-radius: 100vw;
    margin-inline: 0.4rem;
  }
  &::-webkit-scrollbar-track:hover {
    background: var(--text-secondary);
  }
  &::-webkit-scrollbar-thumb {
    background: #888;
    border: 1px solid #bbb;
    border-radius: 100vw;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
    height: 10px;
  }
}
